<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bitcoin - USD report</title>
	<style>
		.indent {
			padding : 5px 10px;
		}
		.summary {
			font-weight : bold;
		}
	</style>

  </head>
  <body>
  <h1>Charts</h1>
    {% for chart in data.data_charts %}
      {% if chart.error_msg is defined %}
        <p>Error : {{chart.error_msg|e}}</p>

      {% else %}
          <img src="cid:{{loop.index0}}">
      {% endif %}

    {% endfor %}

  <h1>Indicators</h1>

  {% for indicator in data.data_indicators %}
    <h2>From {{indicator.from_site|e}}</h2>
       <p>info url : <a href="{{indicator.from_url|e}}">{{indicator.from_url|e}}</a></p>
      {% if indicator.error_msg is defined %}
        <p>Error : {{indicator.error_msg|e}}</p>

      {% else %}

          <p>Summary : <span class="summary">{{indicator.summary|e}}</span></p>
                <p>Indicators :
                </p>
                {% for detail in indicator.details %}
                    <div class="indent">- {{detail.trend_name|e}} : {{detail.trend_value|e}}
                        <div class="indent">
                            Buy: {{detail.trend_buy|e}}
                        &nbsp;
                            Neutral: {{detail.trend_neutral|e}}
                        &nbsp;
                            Sell: {{detail.trend_sell|e}}
                        </div>
                    </div>
                {% endfor %}
      {% endif %}

  {% endfor %}


  </body>
</html>